{% extends "base.html" %}

{% block title %}Create New Paste{% endblock %}

{% block content %}
<div class="paste-creation-form-wrapper">
    <h2>Paste Something New</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Title (Optional):</label>
            {{ form.title }}
        </div>

        <div class="form-group large-textarea">
            <label for="{{ form.content.id_for_label }}">Content:</label>
            {{ form.content }}
        </div>

        {% if form.media %}
            {{ form.media }}
        {% endif %}

        <button type="submit" class="btn btn-success">Submit Paste</button>
    </form>
</div>
{% endblock %}
